body{
    background-color: rgb(194,234,189, 0.2) !important;
}

.login-banner{
    background-color: rgb(1,25,54, 0.1) !important;
    border: 2px solid rgb(1,25,54, 0.2) !important;
    padding: 15px;
}

hr{
    background-color: rgb(245,25,105, 0.6) !important;
}

#page{
    background-color: rgb(1,25,54, 0.1) !important;
    border: 2px solid rgb(1,25,54, 0.2);
    border-radius: 6px;
    padding: 15px 20px;
}

.full-width{
    width: 100%;
    margin: auto;
}

.nav-item{
    margin: auto 15px !important;
}

.nav-image{
    width: 2rem;
    transform: scale(1.2) !important;
}

.logo{
    width: 3rem;
    transform: scale(1.5) !important;
}

nav{
    font-family: 'Montserrat', sans-serif;
    border-bottom: 2px solid rgb(245,25,105, 0.3);
}

.card-title{
    font-family: 'Montserrat', sans-serif !important;
}

.card-body{
    font-family: 'Noto Sans' !important;
}

.shadow-sm{
    box-shadow: 0.25px 0.25px 2px #F51969 !important;
}

.welcome{
    font-family: 'Montserrat', sans-serif ;
}

.main-text{
    font-family: 'Noto Sans' !important;
}

a{
    color: black !important;
    text-decoration: none;
}

a:hover{
    text-decoration: none;
}

.day-card{
    margin: 5px;
    border: 2px solid rgb(1,25,54, 0.05);
    border-radius: 6px;
    background-color: rgb(1,25,54, 0.1) !important;
    height: 65vh;
}

.task-card{
    transition: all .2s ease-in-out;
    border: 2px solid rgb(1,25,54, 0.05);
    border-radius: 6px;
}

.task-card:hover{
    transform: scale(1.02);
}

.all-task-card{
    margin: 5px;
    transition: all .2s ease-in-out;
}

.all-task-card:hover{
    transform: scale(1.02);
    box-shadow: 1px 1px 1px rgb(245,25,105, 0.4);
}

#all_task{
    background-color: rgb(1,25,54, 0.1) !important;
    border: 2px solid rgb(1,25,54, 0.05);
    border-radius: 6px;
    padding: 15px 20px;
}

.change-view{
    border-radius: 6px;
    text-align: center;
    color: white !important;
    font-family: 'Noto Sans' !important;
    padding: 5px;
    margin: 5px;
    background-color: #F51969;
    box-shadow: 0.25px 0.25px 2px rgb(245,25,105, 0.3);
    transition: all .2s ease-in-out;
}

.change-view:hover{
    transform: scale(1.02);
}

.hide{
    display: none;
}

.show{
    display: block;
}

.alert.alert-success{
    background-color: #F51969 !important;
    color: white !important;
    border-color: #F51969 !important;
}

#customer_result{
    font-family: 'Noto Sans' !important;
    display: none;
    background-color: white;
}

#search_result{
    font-family: 'Noto Sans' !important;
    display: none;
    background-color: white;
}

.result-display{
    margin: 0;
    padding: 6px 12px;
}

.result-item{
    text-decoration: none;
    list-style-type: none;
    font-family: 'Noto Sans' !important;
    padding: 5px;
    margin-top: 2px;
    transition: all .2s ease-in-out;
}
.result-item:hover{
    transform: scale(1.01);
    font-weight: bold;
}

#main-area{
    margin-top: 25px;
    background-color: rgb(1,25,54, 0.1) !important;
    border: 2px solid rgb(1,25,54, 0.2);
    border-radius: 6px;
    padding: 15px 20px;
}

.customer-card{
    margin: 5px;
    transition: all .2s ease-in-out;
}

.customer-card:hover{
    transform: scale(1.01);
}

#search-area{
    background-color: rgb(1,25,54, 0.1) !important;
    border: 2px solid rgb(1,25,54, 0.2);
    border-radius: 6px;
    padding: 15px 20px;
}

.cust-btns{
    margin: 10px 5px;
    padding: 0 15px;
    text-align: center;
    background-color: rgb(245,25,105);
    border: 1px solid rgb(245,25,105, 0.5);
    border-radius: 6px;
    color: white !important;
    font-family: 'Noto Sans' !important;
    height: 27.5px;
    transition: all .2s ease-in-out;
}

.cust-btns:hover{
    transform: scale(1.02);
}

#customer_info{
    background-color: white !important;
    border-radius: 6px;
    border: 2px solid rgb(1,25,54, 0.2);
    padding: 15px;
    width: 100%;
}

#info{
    margin-left: 15px;
}

.table-label{
    padding: 5px;
    background-color: rgb(1,25,54, 0.1) !important;
    border: 1px solid rgb(1,25,54, 0.2);
    border-radius: 6px 0px 0px 6px;
    font-family: 'Noto Sans' !important;
}

.table-item{
    padding: 5px;
    border: 1px solid rgb(1,25,54, 0.2);
    border-radius: 0px 6px 6px 0px;
    font-family: 'Noto Sans' !important;
}

#cx-task-display{
    background-color: white !important;
    border-radius: 6px;
    border: 2px solid rgb(1,25,54, 0.2);
}

#cx-contacts{
    background-color: white !important;
    border-radius: 6px;
    border: 2px solid rgb(1,25,54, 0.2);
    height: 45vh !important;
}

.cust-tasks{
    margin: 5px auto;
    transition: all .2s ease-in-out;
}

.cust-tasks:hover{
    transform: scale(1.01);
    box-shadow: 0.25px 0.25px 8px #F51969;
}

ol li{
    transition: all .2s ease-in-out;
}

ol li:hover{
    text-decoration: underline;
}

#danger-zone{
    width: 25%;
    background-color: white;
    margin: 10px 0;
    padding: 15px;
    border: 2px solid red;
    border-radius: 6px;
}

#cust-delete{
    border-radius: 6px;
    text-align: center;
    color: white !important;
    font-family: 'Noto Sans' !important;
    background-color: #F51969 ;
    box-shadow: 0.25px 0.25px 2px rgb(245,25,105, 0.3);
    transition: all .2s ease-in-out;
}

#cust-delete:hover{
    transform: scale(1.02);
}

.contact-card{
    margin: 5px 0!important;
    border-radius: 6px;
    border: 2px solid rgb(1,25,54, 0.2);
}

.card-image{
    width: 3rem;
    transform: scale(1.2);
    margin: 5px auto;
    padding: 5px;
}

.contact-view{
    width: 100%;
    align-content: center;
    border-radius: 6px;
    text-align: center !important;
    color: white !important;
    font-family: 'Noto Sans' !important;
    padding: 5px;
    margin: auto;
    background-color: #F51969;
    transition: all .2s ease-in-out;
}

#top-summary{
    padding: 15px;
    border: 2px solid rgb(1,25,54, 0.05);
    border-radius: 6px;
    background-color: rgb(1,25,54, 0.1) !important;
}

#white-back{
    padding: 10px;
    border: 2px solid rgb(1,25,54, 0.2);
    border-radius: 6px;
    background-color: white;
}

.con-image{
    width: 5rem;
    transform: scale(1.2);
    margin: 5px auto;
    padding: 5px;
}

#contact-detail{
    padding: 15px;
    border: 2px solid rgb(1,25,54, 0.05);
    border-radius: 6px;
    background-color: rgb(1,25,54, 0.1) !important;
}

.contact-body{
    padding: 15px;
    border: 2px solid rgb(1,25,54, 0.2);
    border-radius: 6px;
}

#delete-con-form{
    width: 100%;
}

#con-delete{
    width: 50% !important;
    border-radius: 6px;
    color: white !important;
    font-family: 'Noto Sans' !important;
    background-color: #F51969 !important;
}

#filter-by{
    background-color: rgb(1,25,54, 0.1) !important;
    border: 2px solid rgb(1,25,54, 0.2);
    border-radius: 6px;
    padding: 15px 20px;
}

#filter-results{
    margin-top: 25px;
    background-color: rgb(1,25,54, 0.1) !important;
    border: 2px solid rgb(1,25,54, 0.2);
    border-radius: 6px;
    padding: 15px 20px;
}

.modal{
    border: 2px solid rgb(1,25,54, 0.2);
    box-shadow: 0.25px 0.25px 2px rgb(245,25,105, 0.3);
}

.modal-title{
    font-family: 'Montserrat', sans-serif ;
}

.modal-header{
    background-color: rgb(1,25,54, 0.1) !important;
    border-bottom: 2px solid rgb(1,25,54, 0.2);
}

.modal-body{
    background-color: rgb(194,234,189, 0.2) !important
}

#import-img{
    margin: auto;
}

.s1:hover{
    box-shadow: 0.25px 0.25px 8px white;
}

.s2:hover{
    box-shadow: 0.25px 0.25px 8px #00ccff;
}

.s3:hover{
    box-shadow: 0.25px 0.25px 8px #ff9900;
}

.s4:hover{
    box-shadow: 0.25px 0.25px 8px #009900;
}

.s5:hover{
    box-shadow: 0.25px 0.25px 8px #ff0000;
}

.s6:hover{
    box-shadow: 0.25px 0.25px 8px black;
}

#addtl-info{
    background-color: white;
    padding: 15px;
    border-radius: 6px;
    border: 2px solid rgb(1,25,54, 0.2);
}

#add-addtl-info{
    background-color: white;
    border-radius: 6px;
    border: 2px solid rgb(1,25,54, 0.2);
    margin: 15px 0px;
}

#add-addtl-info.open{
    margin-bottom: 345px;
}


